
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s" style="padding-left:430px;padding-top:90px;">
    <a href="@Url.Action("Login","Admin")" data-lightbox-gallery="zenda-gallery"><img src="~/Images/login.png" alt="gallery img"></a>
</div>
<h4 style="text-align:center;">Mời người dùng đăng nhập</h4>

