@model IEnumerable<QLBanSach.Models.SACH>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutHomePage.cshtml";
}

<div class="col-lg-9">
    <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-color:#404040;">
                <img src="~/Images/image1.gif" style="padding:10px 0px 10px 105px;" />
                <img src="~/Images/image2.gif" style="padding-left:10px;" />
                <img src="~/Images/image3.gif" style="padding-left:10px;" />
            </div>
            <div class="carousel-item" style="background-color:#404040;">
                <img src="~/Images/image4.jpg" style="padding:10px 0px 10px 105px;" />
                <img src="~/Images/image5.gif" style="padding-left:10px;" />
                <img src="~/Images/image6.jpg" style="padding-left:10px;" />
            </div>
            <div class="carousel-item" style="background-color:#404040;">
                <img src="~/Images/image7.jpg" style="padding:10px 0px 10px 105px;" />
                <img src="~/Images/image8.gif" style="padding-left:10px;" />
                <img src="~/Images/image9.gif" style="padding-left:10px;" />
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="row">
        @foreach (var s in Model)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="@Url.Action("Details", "SACHes", new { id = s.masach })"> <img class="card-img-top" src="~/images/@s.anhbia" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">@s.tensach</a>
                        </h4>
                        <h5>@s.dongiaban</h5>
                        <p class="card-text"> @s.tacgia</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

