@model QLBanSach.Models.THELOAI

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>THELOAI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tentheloai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tentheloai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.matheloai }) |
    @Html.ActionLink("Back to List", "Index")
</p>
