@model IEnumerable<QuanLyBanSach.Models.THELOAI>
<div class="container">
    <div class="row">
        <!-- Sidebar ================================================== -->
        <div id="sidebar" class="span3">
            <ul id="sideManu" class="nav nav-tabs nav-stacked">
                <li class="subMenu open">
                    <a> Thể loại sách</a>
                    <ul>
                        @foreach (var s in Model)
                        {
                            <li >
                                <a style="text-align:left;" href="@Url.Action("SPTheoTL", "Home", new { id = s.matheloai })" class="list-group-item" style="text-align:center;">
                                    @s.tentheloai
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>


